.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-Done {
   opacity: 0.4;
}

.activeFilterBtn {
    background-color: salmon;
}

.error{
    outline: none;
    border: red solid 1px;
}
